CompileFlags:
  Add:
    - -std=gnu11
  Remove:
    - -mpreferred-stack-boundary=*
    - -mindirect-branch=*
    - -mindirect-branch-register
    - -fno-allow-store-data-races
    - -fzero-init-padding-bits=*
    - -fmin-function-alignment=*
    - -fconserve-stack
    - -mrecord-mcount
    - -mfentry
    - -mskip-rax-setup
    - -fno-var-tracking-assignments
EnableSnippets: true
